/tmp
/vendor
/.idea
composer.lock
.php_cs*
/coverage
/config/Migrations/schema-dump-default.lock
*.pyc
docs/_build
tmp
/composer.lock
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
.idea/*
nbproject/*
.vscode
.DS_Store
.cache
.phpunit.cache
.project
.settings
.svn
errors.err
tags
node_modules
package-lock.json
/.phpunit.result.cache
/nbproject/
/tools
/phpunit.xml
/webroot/css/style.css.map
/webroot/mix.js.map
/webroot/mix-manifest.json
.ddev/*
